h1{
    background-color: white;
    color: blue;

    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    text-align: center;
}

div p{
    font-size: medium;
    font-style: bold;
    color: black;
    text-align: center;
}

p{
    font-size: medium;
    font-style: bold;
    color: green;
}

h2{
    background-color: rgb(196, 196, 231);
    border: 2px solid black;
    padding: 10px;
}

h3{
    background-color: rgb(7, 11, 18);
    color: white;
}

ul li{
    color:rgb(30, 96, 154)
}

h4{
    color: red;
    padding: 2px solid black;
    display: inline-block;
}

table{
    color: rgb(234, 11, 127)
}
fieldset legend{
    font-size: large;
    color: red;
}

fieldset{
    background-color: rgb(202, 187, 176);
    font-style: italic
}

fieldset label{
    color: red;
}

fieldset input{
    background-color: pink;
    color: rgb(250, 248, 248);
}

fieldset button:hover{
    background-color: blue;
    color: white;
}
